*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100vw;
    padding: 23px;
    background-color: #292a2de4;
}

#input-box{
    border: 1px solid rgba(0, 0, 0, 0.778);
    padding: 23px;
}

input, textarea{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.911);
}

button{
    background: transparent;
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
}

#notes{
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.note{
    width: 300px;
    color: #a1a0a0ec;
    overflow-wrap: break-word;
    margin: 12px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.898);
    background: transparent;
}

.deleteNote{
    float: right;
}